@{
    ViewData["Title"] = "Ukratko o Sarajevu";
}

<h1 style="text-align: center">Ukratko o Sarajevu</h1>
<div style="margin-top: 1.5%; height: 100%; overflow: hidden">
 <img src="https://www.intelligentcitieschallenge.eu/sites/default/files/styles/hero_node_1x/public/2020-11/Sarajevo.jpeg?itok=iZ6JQwzA" style="width: 100%">
</div>

<div style="margin-right: 10%; margin-left: 10%; text-align: justify; margin-top: 3%; color: grey; font-size: 1.0em">
 <b>
 Sarajevo je glavni i najveci grad, te administrativno, ekonomsko, univerzitetsko i kulturno srediste Bosne i Hercegovine.
 <br>
 Brojna arheoloska otkrica svjedoce o tome da je podrucje Sarajeva bilo naseljeno jos u neolitu, tu su i dokazi o znacajnom prisustvu Ilira, 
 a srednjovijekovni grad Hodidjed je, takoder bio smjesten na prostoru destinacije Sarajevo.
 Ipak samo ime Sarajevo (nastalo od turskih rijeci Saraj-dvor i Ovasi-polje) otkriva kako su ga osnovale Osmanlije.
 Smatra se da je Sarajevo sredinom 15. stoljeca osnovao turski namjesnik Isa-beg Ishakovic, kao srediste Osmanske vlasti u regiji.
 <br>
Temelji Sarajeva udareni su tokom prvih 150 godina turske vladavine. Mnogi arhitektonski dragulji izgradeni su upravo tokom tog perioda, 
poput Gazi Husrev-begove dzamije, Stare pravoslavne crkve, te Bascarsije - nekada grandioznog bazara. 
Pocetkom 17. stoljeca Sarajevo je izraslo u zivopisnu zajednicu zanatlija, vazno trgovacko srediste i jedan od najznacajnijih gradova u evropskom dijelu Osmanskog carstva.   
 </b>
</div>