<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SarajevoEvents</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SarajevoEvents.styles.css" asp-append-version="true" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SarajevoEvents</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                asp-action="Index">Početna</a>
                        </li>
                        <li class="nav-item dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Upoznaj Sarajevo
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2"> @* TODO - urediti stil dropdown
                                    dugmeta kao na prototipu*@
                                <button class="dropdown-item" type="button"><a class="styleless-a" asp-area=""
                                        asp-controller="Home" asp-action="Ukratko">Ukratko o Sarajevu</a></button>

                                <button class="dropdown-item" type="button"><a class="styleless-a" asp-area=""
                                        asp-controller="Home" asp-action="ZastoPosjetiti">Zašto posjetiti Sarajevo?</a></button>

                                <button class="dropdown-item" type="button"><a class="styleless-a" asp-area=""
                                        asp-controller="Home" asp-action="Znamenitosti">Znamenitosti</a></button>

                                <button class="dropdown-item" type="button"><a class="styleless-a" asp-area=""
                                        asp-controller="Home" asp-action="KadaPosjetiti">Kada posjetiti Sarajevo?</a></button>

                                <button class="dropdown-item" type="button"><a class="styleless-a" asp-area=""
                                        asp-controller="Home" asp-action="MorateProbati">Ovo morate probati</a></button>               
                            
                            
                                <button class="dropdown-item" type="button"><a class="styleless-a" asp-area=""
                                        asp-controller="Home" asp-action="SarajevoFilmFestival">Sarajevo Film Festival</a></button>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Gdje otići
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <button class="dropdown-item" type="button"><a asp-area=""
                                        asp-controller="Dogadjaj" asp-action="Index">Pretraga svih događaja</a></button>
                                <button class="dropdown-item" type="button">Pretraga po vrsti događaja</button>
                                <button class="dropdown-item" type="button">Pretraga po datumu</button>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Feedback"
                                asp-action="Index">Feedback</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                asp-action="Prognoza">Vremenska prognoza</a>
                        </li>


                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="maincontainer">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
